<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dnafactory_pso>
            <js>
                <defer_requirejs>1</defer_requirejs>
            </js>
        </dnafactory_pso>
    </default>
</config>
